<section>
  <nav class="navbar d-flex justify-content-around align-items-center">
    <div class="startLogo">
      <a class="navbar-logo schoolLogo" routerLink="/home">
        <img src="../../../assets/images/schoolLogo.png" class="img-fluid"
          alt="Martyr Stephen School for Liturgical Teachings logo" />
      </a>
      <a class="navbar-logo churchLogo" routerLink="/home">
        <img src="../../../assets/images/churchLogo.png" class="img-fluid"
          alt="Saint George church logo, which located in Nazlet Al Saman in Al Haram " />
      </a>
    </div>

    <div class="centerLogo">
      <a class="navbar-logo crossLogo" routerLink="/home">
        <img class="img-fluid cross" src="../../../../assets/images/crossLogo.png" alt="christian cross logo">
      </a>
    </div>

    <div class="endLogo">
      <a class="gap-4 tranimBtn text-decoration-none" routerLink="/tranim">
        <p>الترانيم</p>
        <img class="arrow img-fluid" src="../../../../assets/images/headphone.svg" alt="headphone icon">
      </a>
    </div>
  </nav>
</section>
