<footer>
  <section class="container-fluid">
    <div class="row px-3 gap-3 text-center py-5">
      <div class="col-md-12 copyright text-white" dir="ltr">2023&copy; مدرسة الشهيد أستفانوس للتعليم الليتورجية</div>
      <div class="col-md-12">
        <ul class="socialList gap-4 m-0 p-0">
          <li>
            <a href="#">
              <img class="img-fluid" src="../../../../assets/images/site.svg" alt="web icon">
            </a>
          </li>
          <li>
            <a href="#">
              <img class="img-fluid" src="../../../../assets/images/youtube.svg" alt="youtube icon">
            </a>
          </li>
          <li>
            <a href="#">
              <img class="img-fluid" src="../../../../assets/images/facebook.svg" alt="facebook icon">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
