<section class="homeSection pt-5">
    <div class="bodyContent container">
        <div class="row d-flex align-items-center my-5">
            <div class="col-md-7 bodyText gap-4">
                <h2 class="m-0">مرحبًا</h2>
                <p class="m-0">لنتعلم الحروف القبطية معًا</p>
                <button class="gap-5 my-4" routerLink="/letters">
                    <p>لنبدأ</p>
                    <img class="arrow img-fluid" src="../../../assets/images/Arrow-Right.svg" alt="arrow icon">
                </button>
                <p class="copyright">تحت إشراف مدرسة الشهيد أستفانوس للتعليم الليتورجية</p>
            </div>
            <div class="col-md-5 bodyImage">
            </div>
        </div>
    </div>
    <div class="description d-flex justify-content-around align-content-center py-5">
      <p class="sideDesc">اللغة القبطية مُعين في فهم الكتاب المقدس</p>
      <p class="middleDesc">اللغة القبطية مُعين في فهم الليتورجية</p>
      <p class="sideDesc">اللغة القبطية مُعين في فهم العقيدة الأرثوذكسية</p>
    </div>
</section>
