.letterDetails {
    font-family: Noto Sans Arabic;
    font-style: normal;
    line-height: normal;
    box-sizing: border-box;

    .letterInfo {
        background: #fccb30;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .arrow {
            display: flex;
            width: 5.25rem;
            height: 5.06769rem;
            padding: 1.16669rem 1.255rem 1.20975rem 1.21969rem;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 4px solid #0b1c3f;
            box-shadow: 0px 3.68948px 1.84474px 0px rgba(0, 0, 0, 0.25);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

            img {
                width: 2.77431rem;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
            }
        }

        .textBody {
            h2 {
                color: #0b1c3f;
                font-size: 2.5rem;
                font-weight: 700;
            }

            p {
                color: #0b1c3f;
                font-size: 2.5rem;
                font-weight: 500;
                line-height: 60px;
            }

            .imageContainer {
                position: relative;

                img {
                    width: 80%;
                }

                .letterImage {
                    width: 40%;
                    position: absolute;
                    top: 5%;
                    right: 28%;
                }
            }
        }
    }

    .letterExamples {
        background-color: #fcfcfd;

        h3 {
            color: #0b1c3f;
            font-size: 2rem;
            font-weight: 700;
        }

        .letterTable {
            border-right: 3px solid #150d7c;
            border-left: 3px solid #150d7c;

            .listenPhrase {
                color: #646363;
                font-size: 1.6rem;
                font-weight: 500;
                display: flex;

                img {
                    width: 1.6rem;
                }
            }

            .myTable {
                border-radius: 1.19994rem;
                background: #f6f5f7;

                .tableHeadings {
                    border-radius: 0.71994rem;
                    background: #fff;

                    h4 {
                        color: #000;
                        font-size: 2rem;
                        font-weight: 700;
                        margin: 0;
                    }
                }

                .tableRows {
                    .tableData {
                        border-radius: 0.71994rem;
                        background: #fff;
                        -webkit-border-radius: 0.71994rem;
                        -moz-border-radius: 0.71994rem;
                        -ms-border-radius: 0.71994rem;
                        -o-border-radius: 0.71994rem;

                        img {
                            width: 5rem;
                        }

                        .listenIcon {
                            width: 2rem;
                            cursor: pointer;
                        }

                        .meaningImage {
                            width: 2rem;
                        }

                        h4 {
                            margin: 0;
                            color: #0b1c3f;
                            font-size: 2rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
